# Dependencies
node_modules/
.pnp
.pnp.*

# Next.js
.next/
out/

# Build outputs
/build
/dist
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Executables
*.exe

# Strapi
cms/.tmp/
cms/dist/

# Vercel
.vercel

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
